@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Regular.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Black.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Bold.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Light.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Medium.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src:url('./fonts/Roboto-Thin.ttf');
	font-weight: 100;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto";
}

.form {
	position: relative;
	width: 250px;
	box-shadow: 0px 2px 10px #00000059;
	margin: 80px auto 40px;
	border-radius: 3px;
	padding: 20px;
}

.form h2 {
	color: #2f8394;
	text-align: center;
	font-weight: 400;
}

.input {
	transition: 0.2s ease-out;
	color:  #565656;
	font-weight: 600;
	width: 100%;
	padding: 2px;
	outline: none;
	border: none;
	border-bottom: 1px solid  #565656;
    font-size: 16px;
	margin: 6px 0;
}

.input-label {
	transition: 0.2s ease-out;
	color:  #565656;
	position: relative;
	pointer-events: none;
	top: -28px;
	font-weight: 300;
}

.input:focus, .input:not(:placeholder-shown) {
    transition: 0.2s ease-out;
	border-bottom: 1px solid #48a4b7;
}

.input:focus + .input-label, .input:not(:placeholder-shown) + .input-label {
	top: -48px;
	font-size: 12px;
	color: #48a4b7;
}

.input-wraper {
    margin: 22px 10px;
}

.button {
	outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    transform: translate(-50%);
    left: 50%;
    text-transform: uppercase;
    background: #2f8394;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px 35px;
    transition: all .3s ease-out;
    color: #ffffff;
    box-shadow: 0px 1px 3px #0000008f;
}

.button:hover {
	background: #48a4b7;
    box-shadow: 0px 2px 3px #0000008f;
}

.icon {
	width: 100px;
	height: 82px;
	background: url(icons/user.svg);
	background-size: 100px 82px;
	margin: 0 auto;
}

.forgot {
	padding: 4px;
	font-size: 13px;
	text-decoration: none;
	color: #48a4b7;
	position: absolute;
	bottom: 12px;
	transform: translate(-50%);
	left: 50%;
}


.showPass {
	transition: 0.1s;
	width: 27px;
	height: 24px;
	background: url(icons/show.svg);
	background-size: 27px 27px;		
	margin: 0 auto;
	border: none;
	float: right;
	cursor: pointer;
	position: relative;
	top: -34px;
	outline: none;
}

.notShowPass {
	transition: 0.1s;
	width: 27px;
	height: 24px;
	background: url(icons/notshow.svg);
	background-size: 27px 27px;	
	margin: 0 auto;
	border: none;
	float: right;
	cursor: pointer;
	position: relative;
	top: -34px;
	outline: none;
}

@media (max-width: 320px) {
	.form {
		width: auto;
		box-shadow: none;
	}
}

#cadastre {
	text-align: center;
	font-size: 14px;
	color: #565656;
}

#cadastre a {
	text-decoration: none;
	color: #2f8394;
}

.alert {
	font-weight: 400;
    font-size: 14px;
    display: none;
    color: #ff5959;
    margin-top: 0px;
}
